/* 矢印を消す */
  /* Chrome、Safari以外 */
  summary {
    display: block;
  }

  /* Chrome、Safari */
  summary::-webkit-details-marker {
    display: none;
  }

/* ホバー時のスタイルを変える */
  summary {
    cursor: pointer;
    transition: 0.2s; /* 変化を滑らかに */
  }
  /* ホバー時のスタイル */
  summary:hover {
    cursor: pointer; /* カーソルを指マークに */
    background-color: #f5f5f5;
  }

  /* リストの間隔調整 */
  ol#1 li{
    padding-top: 2em;
    padding-bottom: 2em;
  }
